<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type"  charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Patrimony Manager Plus{% endblock %}</title>
        {% block stylesheets %}
            <!-- BOOTSTRAP STYLES-->
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />
            <!-- FONTAWESOME ICONS STYLES-->
            <link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet" />
            <!--CUSTOM STYLES-->
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
            <!-- JQUERY SCRIPTS -->
            <script src="{{ asset('js/jquery-1.11.1.js') }}"></script>
            <!-- BOOTSTRAP SCRIPTS -->
            <script src="{{ asset('js/bootstrap.js') }}"></script>
            <!-- METISMENU SCRIPTS -->
            <script src="{{ asset('js/jquery.metisMenu.js') }}"></script>
            <!-- CUSTOM SCRIPTS -->
            <script src="{{ asset('js/custom.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <div id="wrapper">
            {% block navigation %}
                <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a  class="navbar-brand" href="">
                            Patrimony Manager Plus

                        </a>
                    </div>
                    <div class="notifications-wrapper">
                        <ul class="nav">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="" aria-expanded="false">
                                        <i class="fa fa-cog"></i><i class="fa fa-caret-down"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-tasks">
                                        <li>
                                            <a href="{{ path("usuario_index") }}"><i class="fa fa-user-plus"></i> Usu&aacute;rios</a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}

                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                    <i class="fa fa-user"></i>{{ app.user.username }}&nbsp;<i class="fa fa-caret-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li>
                                        <a href="{{ path('logout') }}"><i class="fa fa-sign-out"></i> Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </nav>
            {% endblock %}

            {% block sidebar %}
                <nav  class="navbar-default navbar-side" role="navigation">
                    <div class="sidebar-collapse">
                        <ul class="nav" id="main-menu">
                            <li>
                                <a id="home" href="{{ path("index") }}"><i class="fa fa-home"></i>Home</a>
                            </li>
                            <li>
                                <a id="patrimonio" href="{{ path("patrimonio_index") }}"><i class="fa fa-barcode"></i>Patrim&ocirc;nios</a>

                            </li>

                            <li>
                                <a id="conta-patrimonial" href="{{ path("contaPatrimonial_index") }}"><i class="glyphicon glyphicon-list-alt"></i>Contas Patrimoniais</a>
                            </li>

                            <li>
                                <a href="forms.html"><i class="fa fa-code "></i>Forms</a>
                            </li>

                            <li>
                                <a href="#"><i class="fa fa-sitemap "></i>Multilevel Link <span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="#"><i class="fa fa-cogs "></i>Second  Link</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-bullhorn "></i>Second Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Second Level<span class="fa arrow"></span></a>
                                        <ul class="nav nav-third-level">
                                            <li>
                                                <a href="#">Third  Link</a>
                                            </li>
                                            <li>
                                                <a href="#">Third Link</a>
                                            </li>

                                        </ul>

                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="blank.html"><i class="fa fa-dashcube "></i>Blank Page</a>
                            </li>

                        </ul>
                    </div>

                </nav>
            {% endblock %}
            <div id="page-wrapper" class="page-wrapper-cls">
                <div id="page-inner">
                    {% block body %}

                    {% endblock %}
                </div>
            </div>

        </div>

        <footer >
            &copy; 2015 UniFOA Sistemas de Informa&ccedil;&atilde;o |  Daniel Aguiar, Leonardo Vicente, Lucas Pinho</a>
        </footer>
    </body>
</html>
