{% extends '::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">Usu&aacute;rios</h1>
        </div>
    </div>

    <div class="alert alert-warning" role="alert">
        <i class="fa fa-warning"></i>&nbsp;<strong>Aten&ccedil;&atilde;o!</strong> Usu&aacute;rios ser&atilde;o cadastrados por padr&atilde;o com a senha ''unimed179''
    </div>

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Cadastro
            </div>
            <div class="panel-body">
                <form class="form-horizontal" method="post" action="{{ path('usuario_novo') }}">
                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="nome">Nome</label>
                        </div>
                        <div class="col-md-5">
                            <input type="text" id="txtNome" name="txtNome" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="lblNome">Login</label>
                        </div>
                        <div class="col-md-3">
                            <input type="text" id="txtLogin" name="txtLogin" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="lblCargo">Cargo</label>
                        </div>
                        <div class="col-md-3">
                            <select id="cbCargo" name="cbCargo" class="form-control">
                                {% for cargo in cargos %}
                                <option value="{{ cargo.id }}">{{ cargo.nome }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="lblCentroCusto">Centro de Custo</label>
                        </div>
                        <div class="col-md-3">
                            <select id="cbCentroCusto" name="cbCentroCusto" class="form-control">
                                {% for centroCusto in  centroCustos %}
                                    <option value={{ centroCusto.id }}>{{ centroCusto.nocentroCusto }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="lblPerfil">Perfil</label>
                        </div>
                        <div class="col-md-3">
                            <select id="cbPerfil" name="cbPerfil" class="form-control">
                                <option value="">Usu&aacute;rio</option>
                                <option value="ROLE_ADMIN">Administrador</option>
                            </select>
                        </div>
                    </div>

                    </br>
                    <div class="row" style="text-align: center;">
                        <button class="btn btn-labeled btn-info" type="submit" name="salvar" id="btnSalvar">Salvar</button>
                        <a class="btn btn-default" href="{{ path('usuario_index') }}">Cancelar</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}